<div class="layout">
  <form [formGroup]="createBeerForm" (ngSubmit)="handleFormSubmit()">
    <h1>New Beer 🍺</h1>
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" required />
    <label for="taste">Taste</label>
    <input type="text" formControlName="taste" id="taste" required />
    <label for="brand">Brand</label>
    <input type="text" formControlName="brand" id="brand" required />
    <button type="submit" [disabled]="createBeerForm.invalid">Create</button>
  </form>
</div>
