.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content:hover {
  transform: scale(1.05);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
