nav {
  height: 32px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a{
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: #555;
  color: white;
}