.title {
  font-size: 1.5em;
  text-align: center;
  color: palevioletred;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-content-container {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
}