<div class="footer">
  <div>
    <p>
      Diese Webseite dient nur für Unterhaltunszwecke und wurde im Rahmen
      der Web Programmierung Vorlesung 2024 entwickelt
    </p>
    <p>Made with ❤️ by Jens Reiner</p>
  </div>
  <div class="links">
    <a
      href="https://www.bundesdrogenbeauftragter.de/service/beratungsangebote/"
      target="_blank"
    >
      🔗 Beratungsangebote
    </a>
    <a
      href="https://www.dhs.de/service/suchthilfeverzeichnis"
      target="_blank"
    >
      🔗 Deutsche Hauptstelle für Suchtfragen
    </a>
  </div>
</div>
