<a routerLink="/create">
  <app-card [card]="{ title: 'Create a new beer', subtitle: '' }">
    <div class="content" ngProjectAs="card-content">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="100"
        height="100"
      >
        <line x1="4" y1="12" x2="20" y2="12" stroke="black" strokeWidth="2" />
        <line x1="12" y1="4" x2="12" y2="20" stroke="black" strokeWidth="2" />
      </svg>
    </div>
    <div class="footer" ngProjectAs="card-footer">
      <p>Add a new beer to the list</p>
    </div>
  </app-card>
</a>
